<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<h1>Home Page</h1>
	<h2>Si sos Ada hacé click acá -> <a href="/admin?user=Ada">ADMIN Ada</a></h2>
	<h2>Si sos Greta hacé click acá -> <a href="/admin?user=Greta">ADMIN Greta</a></h2>
	<h2>Si sos Vim hacé click acá -> <a href="/admin?user=Vim">ADMIN Vim</a></h2>
	<h2>Si sos Tim hacé click acá -> <a href="/admin?user=Tim">ADMIN Tim</a></h2>
	<h2>Si sos otra persona intenta ingresar a la ruta -> <a href="/admin">ADMIN</a></h2>

	<img src="/images/node.jpg" width="60%">
</body>
</html>